<style>
    .menu li {
        list-style: none;
        text-align: center;
        float: left;
        padding: 12px;
    }
    
    .section-1 {
        background: #000;
        color: #fff !important;
    }
    .sky {
        color: white;
        background-color: #f00;
        padding: 20px;
    }

    .tomato {
        background-color: #00ff00;
        padding: 20px;

    }

    .menu li a {
        color: #fff !important
    }
</style>

<div class="container-fluid section-1">
    <div class="col-md-12">
        <ul class="menu">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="jumbotron">
        <div class="content" style="padding:200px">
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis harum vero odit qui quidem ex ab! Ipsum nesciunt, provident aut ut maxime similique dolore iste! Explicabo optio quam ipsa.</p> -->
        </div>
    </div>
</div>